<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% mposts = @user.microposts %>
<% mposts.each do |mpost| %>
  <h4><i>
    <%= mpost.content %>    
  </i>
  </h4>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
